@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background: #0f0f0f;
}

.section_container {
  @apply px-6 sm:px-10 md:px-20 lg:px-24;
}